h1 {
    color: blue;
    border: 3px solid red;
    background-color: red;
    width: 400px;
    height: 50px;
    margin: auto;
    padding: inherit;
    text-align: center;
}

h2 {
    border: 3px solid red;
    background-color: blue;
    width: 400px;
    height: 50px;
    font-family: arial;
    font-size: 28;
    font-weight: lighter;
    color: red;
    text-align: center;
}
h3 {
  border: 3px solid red;
  background-color: white;
  width: 300px;
  height: 30px;
  font-family: arial;
  font-size: 28;
  font-weight: lighter;
  color: black;
  text-align: center;
}
ul {
    color: black;
    text-align: left;
}

ol {
    color: green;
    text-align: left;
}

ul>li {
    color: red;
    text-align: left;
}

table,tr,td,th {
    border: 3px solid red;
    border-collapse: collapse;
    text-align: center;
    padding: 10px;
}
td,th{
  font-size: 48px;
  color: white;
}
a {
    color: White;
    text-align: left;
    font-size: 28
}

a[href="New PPTX Presentation.pptx"] {
    color: red;
}

button {
    background-color: red;
    width: 200px;
    height: 40px;
}

button:hover {
    background-color: black;
    width: 200px;
    height: 40px;
}

@media (min-width: 600px) {
    body {
      background-image: url"gil.jpg";
        background-color: #cccccc;
    }
}

@media (max-width: 599px) {
    body {
      background-image: url"tree.jpg";
        background-color: #cccccc;
    }
}

#container {
    display: flex;
    flex-wrap: wrap;
}

#container>div {
    background-color: gold;
    font-size: 20px;
    margin: 30px;
    padding: 30px;
    width: 100px;
}

div>button {
    background-color: red;
    width: 100px;
    height: 40px;
}

div>button:hover {
    background-color: blue;
    width: 100px;
    height: 40px;
}

#grid {
    background-color: pink;
    display: grid;
    padding: 30px;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    grid-template-columns: auto auto auto;
}

.grig-item {
    background-color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}
